  
header {
  background-color: #7D5BA6;
}

header h1 {
  display: flex;
  margin: 2px;
  justify-content: center;
}

header .nav-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links {
  display: flex;
  width: 100%;
}


#left-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}

#right-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}