  
header {
  background-color: @header-background;
  display: flex;
  flex-direction: column-reverse;
}

header h1 {
  display: flex;
  font-size: 7rem;
  justify-content: center;
  margin-bottom: 2%;
  padding-top: 2%;
  font-weight: 1000;
  color: 	@header-color;
}

header .navlinks {
  width: 100%;
  nav {
    display: flex;
    justify-content: space-around;
    a {
      font-size: 3rem;
      padding-bottom: 2%;
      color: @font-color;
      font-weight: 1000;
      &:visited {
        color: @clicked-link-color;
      }
    }
  }
}